<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button id="cartButtonDetail" routerLink="/cart">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
        <ion-badge color="danger" *ngIf="cartservice.getCount() > 0">{{cartservice.getCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-thumbnail>
        <img [src]="product.image || 'assets/icon/favicon.png'" [alt]="product.name">
      </ion-thumbnail>
      <p>Stock: {{product.stock}}</p>
      <p>Purchase Price: Rp. {{product.purchasePrice}}</p>
      <p>Selling Price: Rp. {{product.sellingPrice}}</p>
    </ion-card-content>
    <ion-button id="addToCartButton" [disabled]="product.stock === 0" (click)="addToCart(product)">
      Add to Cart
    </ion-button> 
  </ion-card>
</ion-content>