ion-card-title {
    color: var(--ion-text-color);
}

#cartButton {
    --padding-start: 8px;
    --padding-end: 8px;
}

.cart-wrapper {
    position: relative;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-wrapper ion-icon {
    font-size: 25px;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -7px;

    min-width: 16px;
    height: 16px;
    padding: 0 4px;

    border-radius: 8px;

    font-size: 10px;
    line-height: 16px;
    text-align: center;
}