// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #E89AAA;
    --ion-color-primary-rgb: 232, 154, 170;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #cc8896;
    --ion-color-primary-tint: #eaa4b3;

    --ion-color-secondary: #FFF0D9;
    --ion-color-secondary-rgb: 255, 240, 217;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e0d3bf;
    --ion-color-secondary-tint: #fff2dd;

    --ion-color-tertiary: #B9A7E8;
    --ion-color-tertiary-rgb: 185, 167, 232;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #a393cc;
    --ion-color-tertiary-tint: #c0b0ea;

    --ion-color-success: #9ED5B3;
    --ion-color-success-rgb: 158, 213, 179;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #8bbb9e;
    --ion-color-success-tint: #a8d9bb;

    --ion-color-warning: #F6D98B;
    --ion-color-warning-rgb: 246, 217, 139;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d8bf7a;
    --ion-color-warning-tint: #f7dd97;

    --ion-color-danger: #E98787;
    --ion-color-danger-rgb: 233, 135, 135;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #cd7777;
    --ion-color-danger-tint: #eb9393;

    --ion-color-light: #FFF9F7;
    --ion-color-light-rgb: 255, 249, 247;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0dbd9;
    --ion-color-light-tint: #fffaf8;

    --ion-color-medium: #A89FA3;
    --ion-color-medium-rgb: 168, 159, 163;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #948c8f;
    --ion-color-medium-tint: #b1a9ac;

    --ion-color-dark: #3E3438;
    --ion-color-dark-rgb: 62, 52, 56;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #372e31;
    --ion-color-dark-tint: #51484c;

}