<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/product-form">Add</ion-button>
      <ion-button id="cartButton" routerLink="/cart">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
        <ion-badge color="danger" *ngIf="cartservice.getCount() > 0">{{cartservice.getCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="searchProducts()" placeholder="Search Product"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let product of filteredProducts">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="product.image || 'assets/icon/favicon.png'" [alt]="product.name">
        </ion-thumbnail>
        <ion-label (click)="viewDetail(product.id)">
          <h2>{{product.name}}</h2>
          <p>Sell Price: Rp. {{product.sellingPrice}}</p>
          <p>Stock: {{product.stock}}</p>
        </ion-label>
        <ion-button slot="end" [routerLink]="['/product-form', product.id]">Edit</ion-button>
        <ion-button slot="end" fill="clear" [disabled]="product.stock === 0" (click)="addToCart(product)">
          <ion-icon name="cart" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProduct(product.id)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>