<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile">
    <ion-avatar>
      <ion-icon name="storefront"></ion-icon>
    </ion-avatar>

    <h2>Toko Makmur Jaya</h2>
    <p>Owner: Mrs. Marni</p>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="storefront" slot="start"></ion-icon>
        <ion-label>
          <h2>Store</h2>
          <p>Toko Makmur Jaya</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          <h2>Owner</h2>
          <p>Mrs. Marni</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
        <ion-label>
          <h2>Application</h2>
          <p>SIMOBILE</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>